@model IEnumerable<WebsiteBanSach.Models.TaiKhoanNhanVien>

@{
    string level1 = "donhang-thongkedonhang-Trang chủ;";
    string level2 = "Thống kê tài khoản nhân viên";
    string Navigation = level1 + level2;
    ViewBag.Navigation = Navigation;

    ViewData["Title"] = "Index";
    Layout = "_LayoutNV";
}

<h1>Thống kê tài khoản nhân viên</h1>

<a style="width: 150px;" class="btn btn-warning" asp-controller="TaiKhoanNhanVien" asp-action="themTaiKhoan">Thêm tài khoản</a>
<br/><br />
<form asp-controller="TaiKhoanNhanVien" asp-action="thongKeTaiKhoan" method="get">
    <p>
        Tên nhân viên: <input type="text" name="tenNhanVienTimKiem">
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<div style="overflow-x:auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.idNhanVien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tenNhanVien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.soDienThoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.vaiTro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.trangThai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.idNhanVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tenNhanVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.soDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vaiTro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.trangThai)
                    </td>
                    <td>
                        <a style="width: 50px;" class="btn btn-primary" value="Sửa" asp-controller="TaiKhoanNhanVien" asp-action="suaTrangThaiTaiKhoan" asp-route-idNhanVien="@item.idNhanVien">Sửa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>