@model WebsiteBanSach.Models.TacGia

@{
    string level1 = "donhang-thongkedonhang-Trang chủ;";
    string level2 = "tacgia-thongketacgia-Thống kê tác giả;";
    string level3 = "Xóa tác giả";
    string Navigation = level1 + level2 + level3;
    ViewBag.Navigation = Navigation;

    ViewData["Title"] = "Xóa tác giả";
    Layout = "_LayoutNV";
}

<h1>Xóa tác giả</h1>

<div>
    <h4>Thông tin tác giả</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.namSinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.namSinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quocTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quocTich)
        </dd>
    </dl>
    
    <form asp-action="XoaTacGia">
        <input type="hidden" asp-for="idTacGia" />
        <input class="btn btn-warning" type="submit" value="Xóa" /> 
    </form>
</div>
