@model IEnumerable<WebsiteBanSach.Models.ViewModel.ThanhPhanGioHang>

@{
    string trangChu = "sach-hienthidanhsachsach-Trang chủ;";
    string gioHang = "giohang-xemgiohang-Giỏ hàng;";
    string datHang = "Đặt hàng";
    string Navigation = trangChu + gioHang + datHang;
    ViewBag.Navigation = Navigation;

    ViewData["Title"] = "Đặt hàng";
    decimal tongTien = 0;

    string dinhDangTien(decimal gia)
    {
        string giaBanVND = "";
        string giaBan = Convert.ToInt32(gia).ToString();
        var j = 0;
        for (var i = giaBan.Length - 1; i >= 0; i--)
        {
            giaBanVND = giaBan[i] + giaBanVND;
            j++;
            if (j % 3 == 0 && i != 0)
            {
                giaBanVND = "." + giaBanVND;
            }
        }
        return giaBanVND;
    }
}

<h1>Đặt hàng</h1>

<h4>Thông tin đặt hàng</h4>

<div class="row">
    <form class="col-md-12" asp-controller="DonHang" asp-action="datHang">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label name="tenNguoiNhan" class="control-label">Tên người nhận</label>
                <input name="tenNguoiNhan" class="form-control">
            </div>
            <div class="form-group">
                <label name="diaChiGiaoHang" class="control-label">Địa chỉ giao hàng</label>
                <textarea name="diaChiGiaoHang" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label name="soDienThoai" class="control-label">Số điện thoại</label>
                <input name="soDienThoai" class="form-control" />
            </div>
            <br />
        </div>
        <h1>Giỏ hàng</h1>
        <div style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên sách
                        </th>
                        <th>
                            Loại sách
                        </th>
                        <th>
                            NXB
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Giá Bán
                        </th>
                        <th>
                            Thành tiền
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var x = @item.sach.giaBan * @item.soLuong;
                        <tr>
                            <td>
                                @item.sach.ten
                            </td>
                            <td>
                                @item.sach.loaiSach.tenLoai
                            </td>
                            <td>
                                @item.sach.nhaXuatBan.ten
                            </td>
                            <td>
                                @item.soLuong
                            </td>
                            <td>
                                @dinhDangTien(item.sach.giaBan) đ
                            </td>
                            <td>

                                <p>@dinhDangTien(x) đ</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
            <br />
            @foreach (var item in Model)
            {
                tongTien = tongTien + item.sach.giaBan * item.soLuong;
            }
            <br /><br />
            <div class="form-group">
                <input type="submit" value="Đặt hàng" class="btn btn-primary" />
            </div>
    </form>
</div>
